@font-face {
  font-family: iransans;
  src: url("../../public/css/iransans/IRANSansWeb_UltraLight.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: iransans;
  src: url("../../public/css/iransans/IRANSansWeb_Light.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: iransans;
  src: url("../../public/css/iransans/IRANSansWeb.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: iransans;
  src: url("../../public/css/iransans/IRANSansWeb_Medium.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: iransans;
  src: url("../../public/css/iransans/IRANSansWeb_Bold.woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: iransans;
  src: url("../../public/css/iransans/IRANSansWeb_Black.woff2");
  font-weight: 900;
  font-style: normal;
}
/* // number fonts */

@font-face {
  font-family: iransans;
  src: url("../../public/css/iransans/num/IRANSansWeb\(FaNum\)_UltraLight.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: iransans;
  src: url("../../public/css/iransans/IRANSansWeb_Light.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: iransans;
  src: url("../../public/css/iransans/num/IRANSansWeb\(FaNum\).woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: iransans;
  src: url("../../public/css/iransans/num/IRANSansWeb\(FaNum\)_Medium.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: iransans;
  src: url("../../public/css/iransans/IRANSansWeb_Bold.woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: iransans;
  src: url("../../public/css/iransans/IRANSansWeb_Black.woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: iransans !important;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

#root {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(var(--color-primary-700));
  background-image: url(../src/assets/background.png),
    url(../src/assets/background-second.png);
  background-position: right top, right top;
  background-repeat: no-repeat, no-repeat;
}

.hide-scroll {
  ::-webkit-scrollbar {
    height: 0px !important;
    background: transparent !important; /* make scrollbar transparent */
  }
}
